.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rojo{
    color: red;
}

.errorInput{
    border: 2px solid darkred;
}

.validoInput{
    border: 2px solid darkgreen;
}

